@import '../mixins'

.overlay .panel.feedback {
  width: 300px

  article {
    margin: 30px 30px 20px 30px
  }

  input {
    margin-bottom: 15px
    height: 38px
    padding: 0 10px

    &:last-child {
      margin-bottom: 0
    }
  }

  textarea {
    min-height: 100px
    resize: vertical
  }

  footer {
    margin: 0 30px 30px 30px
  }

  button {
    width: 100%
    height: 34px
    padding: 0 14px
    font-size: 14px
  }
}