.overlay .panel.shortcuts {
  width: 370px

  ul {
    list-style: none
    margin: 0 0 10px 0
    padding: 0
  }

  li {
    margin-left: 15px
  }

  lh {
    display: block
    font-weight: bold
    margin-bottom: 5px

    &:after {
      content: ':'
    }
  }

  li code {
    width: 120px
    padding-right: 10px
    margin-right: 5px
    display: inline-block
    text-align: right

    border-right: 1px solid #EBEEF2
  }
}