@import '../mixins'

.overlay .panel.users-invite-authorize {
  width: 300px

  p {
    margin-bottom: 8px

    &:last-child {
      margin-bottom: 0
    }
  }

  footer {
    margin: 20px 0 25px 0
    vbox()
  }
}