@import '../mixins'

.overlay .panel.users-pending {
  width: 320px

  input[type=email] {
    width: 180px
    display: inline-block
  }

  label {
    display: block

    span {
      font-size: 12px
    }

    &:not(:last-child) {
      margin-bottom: 10px
    }
  }

  button {
    height: 32px
    font-size: 13px
    padding: 0 12px
    display: inline-block
    margin-left: 5px
  }

  p {
    margin-bottom: 5px
  }

  form {
    margin: 20px 0 30px 0
  }

  p.thanks {
    display: none
    text-align: center
    margin-top: 20px
    font-weight: bold
  }

  &.submitted {
    p.thanks {
      display: block
    }

    form {
      display: none
    }
  }
}