body, html {
  margin: 0
  padding: 0
}

body {
  color: #4d4d4d
  font-size: 17px
  font-family: proxima-nova, Helvetica, Avenir, sans-serif
  line-height: 23px
  padding: 30px 50px
}

h1, h2, h3, h4, h5, h6 {
  color: #3a3a3a
  margin: 25px 0 20px 0
}

h1 {
  font-size: 22px
  font-weight: bold
}

h2 {
  font-size: 20px
  font-weight: 600
}

h3 {
  font-size: 19px
  font-weight: 600
}

p {
  margin: 20px 0
}

a {
  color: #333
  text-decoration: none
  outline: 0
  border-bottom: 1px solid #ccc
}

ul, ol {
  margin: 20px 0
  padding: 0
}

ol {
  max-width: 550px
  margin-left: 35px
  list-style: decimal
}

hr {
  border: solid #f4f3f3
  border-width: 5px 0 0
  clear: both
  margin: 0
  margin: 35px 90px 30px 90px
  height: 0
  border-radius: 5px
}

pre code {
  display: block
  border: 1px solid #d2d2d2
  border-width: 1px 0
  background-color: #f8f8f8
  padding: 10px 0
  font-size: 13px
  padding-left: 50px
  margin: 0 -50px
  overflow-x: auto
}

img {
  display: block
}

#main > p:first-child {
  margin-top: 0
}

#main > p:last-child {
  margin-bottom: 0
}